<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>创建调查</title>
    <link rel="shortcut icon" href="/WEB-INF/img/favicon.ico"
          th:href="@{/img/favicon.ico}"/>
    <link rel="stylesheet" href="../../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../../js/plugins/bootstrap-select/css/bootstrap-select.min.css"
          th:href="@{/js/plugins/bootstrap-select/css/bootstrap-select.min.css}">
    <link rel="stylesheet" href="/WEB-INF/js/plugins/layui/css/layui.css"
          th:href="@{/js/plugins/layui/css/layui.css}">
</head>
<body>
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">
                创建调查
            </div>
        </div>
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        调查名称
                    </div>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-offset-1 col-md-12">
                                <div class="row">
                                    <div class="col-sm-10">
                                        <div class="row">
                                            <div class="control-label col-xs-2">调查描述：</div>
                                            <div class="col-xs-10">
                                                <input id='missionDescription' class="form-control"
                                                       placeholder="该次调查的描述信息"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        调查单位
                    </div>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-offset-1 col-md-12">
                                <div class="row">
                                    <div class="col-sm-10">
                                        <div class="row">
                                            <div class="control-label col-xs-2">执行单位：</div>
                                            <div class="col-xs-10">
                                                <select id='researchUnit' class="form-control" multiple> </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        调查时间
                    </div>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-offset-1 col-md-12">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <div class="control-label col-xs-3">开始时间：</div>
                                            <div class="col-xs-5">
                                                <input id="begindate" class="form-control" placeholder="调查开始的时间"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <div class="control-label col-xs-3">结束时间：</div>
                                            <div class="col-xs-5">
                                                <input id="enddate" class="form-control" placeholder="调查结束的时间"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        调查详情
                    </div>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-offset-1 col-md-12">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <div class="control-label col-xs-3">调查问卷：</div>
                                            <div class="col-xs-8">
                                                <select name="questionnaireSelect" class="form-control selectpicker"
                                                        title="选择发布的问卷"> </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <div class="control-label col-xs-3">最低提交：</div>
                                            <div class="col-xs-5">
                                                <input name="minSubmit" type="number" class="form-control"
                                                       placeholder="当前问卷最低提交量">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--添加新问卷-->
                <!--<div class="panel-body">-->
                <!--<div class="btn btn-default btn-block glyphicon glyphicon-plus"></div>-->
                <!--</div>-->
            </div>

            <div class="panel-body">
                <div class="col-md-offset-5">
                    <button id="resetBtn" class="btn btn-lg btn-warning">重置</button>
                    <button id="launchMissionBtn" class="btn btn-lg btn-success">发布</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/WEB-INF/js/jquery.min.js"
        th:src="@{/js/jquery.min.js}"></script>
<script src="/WEB-INF/js/bootstrap.min.js"
        th:src="@{/js/bootstrap.min.js}"></script>
<script src="/WEB-INF/js/plugins/bootstrap-select/js/bootstrap-select.min.js"
        th:src="@{/js/plugins/bootstrap-select/js/bootstrap-select.min.js}"></script>
<script src="/WEB-INF/js/plugins/bootstrap-select/js/i18n/defaults-zh_CN.min.js"
        th:src="@{/js/plugins/bootstrap-select/js/i18n/defaults-zh_CN.min.js}"></script>

<script src="/WEB-INF/js/plugins/layui/layui.js"
        th:src="@{/js/plugins/layui/layui.js}"></script>
<script src="../../js/myJs/responseAnalyze.js"
        th:src="@{/js/myJs/responseAnalyze.js}"></script>


<script>
    $(function () {
        var unitOptions = '';
        var $researchUnit = $('#researchUnit');
        $.ajax({
            url: '/unit/listUnitInfo',
            type: 'post',
            dataType: 'json',
            traditional: true,
            success: function (data) {
                for (var index = 0; index < data.length; index++) {
                    unitOptions += '<option title="' + data[index].unitName + '" ' +
                        'value="' + data[index].unitId + '">' + data[index].unitName +
                        '·························'
                        + data[index].unitProvince + ' - ' + data[index].unitCity + '</option>';
                }
                $($researchUnit).append(unitOptions);
                $($researchUnit).selectpicker({
                        multipleSeparator: ' || ',
                        actionsBox: true,
                        liveSearch: true,
                        noneSelectedText: '未选择单位信息',
                        selectAllText: '全部单位',
                        liveSearchPlaceholder: '查询单位',
                        deselectAllText: '重新选择',
                        selectedTextFormat: 'count > 15',
                        countSelectedText: function () {
                            return '选中了  {0}   个单位   (单位总数 {1})';
                        }
                    },
                    'refresh', 'render'
                );
            },
            error: function (data) {
                console.log(data);
            }
        });
        var qesItemOptions = '';
        var $questionnaireItem = $('select[name="questionnaireSelect"]');
        $.ajax({
            url: '/researchManage/listQuestionnaireInfo',
            type: 'post',
            dataType: 'json',
            traditional: true,
            success: function (data) {
                for (var index = 0; index < data.length; index++) {
                    qesItemOptions += '<option title="' + data[index].qesTitle + '" value="' + data[index].qesId + '">'
                        + data[index].qesTitle + '························' + data[index].createDate
                        + '[' + data[index].isTemplate + ']</option>';
                }
                $questionnaireItem.append(qesItemOptions);

                $($questionnaireItem).selectpicker({
                        liveSearch: true,
                        noneSelectedText: '未选择发布问卷',
                        liveSearchPlaceholder: '查询问卷'
                    },
                    'refresh', 'render'
                );
            },
            error: function () {

            }
        });

        layui.use(['laydate'], function () {
            var laydate = layui.laydate;

            var start = {
                format: 'YYYY-MM-DD hh:mm:ss',
                min: laydate.now(),
                max: '2099-06-16 23:59:59',
                istime: true,
                isclear: true, //是否显示清空
                istoday: true, //是否显示今天
                issure: true, //是否显示确认
                festival: true, //是否显示节日
                fixed: false, //是否固定在可视区域
                zIndex: 99999999, //css z-index
                choose: function (datas) {
                    end.min = datas; //开始日选好后，重置结束日的最小日期
                    end.start = datas //将结束日的初始值设定为开始日
                }
            };

            var end = {
                format: 'YYYY-MM-DD hh:mm:ss',
                max: '2099-06-16 23:59:59',
                istime: true,
                isclear: true, //是否显示清空
                istoday: true, //是否显示今天
                issure: true, //是否显示确认
                festival: true, //是否显示节日
                fixed: false, //是否固定在可视区域
                zIndex: 99999999, //css z-index
                choose: function (datas) {
                    start.max = datas; //结束日选好后，重置开始日的最大日期
                }
            };
            document.getElementById('begindate').onclick = function () {
                start.elem = this;
                laydate(start);
            };
            document.getElementById('enddate').onclick = function () {
                end.elem = this;
                laydate(end);
            };
        });

    });
    /*提交数据*/
    $('#launchMissionBtn').on('click', function () {
        //获取选中的单位ID
        var unitIds = [];
        $('#researchUnit').find('option:selected').each(function () {
            unitIds.push($(this).val());
        });

        var missionDescription = $('#missionDescription').val();
        var startDate = $('#begindate').val();
        var endDate = $('#enddate').val();
        //获取选中的问卷ID
        var qesItemInfoArray = [];
        var qesItem = {};
        $('select[name="questionnaireSelect"]').find('option:selected').each(function () {
            qesItem.questionnaireId = ($(this).val());
            qesItem.minSubmit = ($(this).closest('div[class="col-md-offset-1 col-md-12"]').find('input[name="minSubmit"]').val());
            qesItemInfoArray.push(qesItem);
        });

        layui.use('layer', function () {
            var layer = layui.layer;
            //校验调查单位数量不能少于一个
            if (unitIds.length <= 0) {
                layer.msg('调查单位还未选择！', function () {
                });
                return;
            }
            //开始时间、结束时间校验
            if (startDate.match(/^\s*$/)) {
                layer.msg('开始时间未设置！', function () {
                });
                return;
            }
            if (endDate.match(/^\s*$/)) {
                layer.msg('结束时间未设置！', function () {
                });
                return;
            }
            //调查问卷选择校验
            if (qesItemInfoArray.length <= 0) {
                layer.msg('还未选择问卷！', function () {
                });
                return;
            }
            for (var i = 0; i < qesItemInfoArray.length; i++) {
                if (qesItemInfoArray[i].minSubmit.match(/^\s*$/)) {
//                    layer.msg('未设置第' + (i + 1) + '份问卷的最少提交量', function () {
//                    });
                    layer.msg('未设置问卷的最少提交量', function () {
                    });
                    return;
                }
            }

            if (missionDescription.match(/^\s*$/)) {
                layer.confirm('不填写调查描述可以吗，默认将设置为“无描述”', {
                    icon: 3,
                    btn: ['确认发布', '返回修改']
                }, function (index) {
                    layer.close(index);
                    submitJsonData('无描述', unitIds, qesItemInfoArray);
                }, function (index) {
                    layer.close(index);
                });
            } else {
                submitJsonData(missionDescription, unitIds, qesItemInfoArray);
            }
        });
    });

    function submitJsonData(missionDescription, unitIds, qesItemInfoArray) {
        var createResearchMissionVO = {};
        createResearchMissionVO.missionDescription = missionDescription;
        createResearchMissionVO.missionStartDate = new Date($('#begindate').val());
        createResearchMissionVO.missionDeadLine = new Date($('#enddate').val());
        createResearchMissionVO.missionObjectUnitId = unitIds;
        createResearchMissionVO.missionQuestionnaireInfo = qesItemInfoArray;
        var url = '/researchManage/createResearchMission';
        accessServerByJson(url, createResearchMissionVO);
    }

    /*重置按钮*/
    $('#resetBtn').on('click', function () {
        layui.use('layer', function () {
            var layer = layui.layer;

            layer.confirm('确认重置？', {
                    icon: 3,
                    btn: ['确定', '取消']
                },
                function (index) {
                    $('#missionDescription').val(null);
                    $('#researchUnit').selectpicker('deselectAll');
                    $('#begindate').val(null);
                    $('#enddate').val(null);
                    $('select[name="questionnaireSelect"]').selectpicker('val', null);
                    $('input[name="minSubmit"]').val(null);
                    layer.close(index);
                },
                function () {
                    layer.msg('取消成功！');
                }
            )
        });


    });
</script>
</body>
</html>