<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>查看问卷</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap-table/dist/bootstrap-table.css">
    <!--<link rel="shortcut icon" href="/WEB-INF/img/favicon.ico"-->
    <!--th:href="@{/img/favicon.ico}"/>-->
    <!--<link rel="stylesheet" href="/WEB-INF/css/bootstrap.min.css"-->
    <!--th:href="@{/css/bootstrap.min.css}">-->
    <!--<link rel="stylesheet" href="/WEB-INF/css/plugins/bootstrap-table/bootstrap-table.min.css"-->
    <!--th:href="@{/css/plugins/bootstrap-table/bootstrap-table.min.css}">-->
</head>
<body>
<div class="container">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    回收站问卷
                </div>
            </div>
            <div class="panel-body">
                <!--toolbar-->
                <div id="tableToolbar" class="btn-group hidden-xs" role="group">
                    <button id="multiTemplateBtn" type="button" class="btn btn-outline btn-default">
                        <i class="glyphicon glyphicon-briefcase" aria-hidden="true">批量模板</i>
                    </button>
                    <button id="multiShareBtn" type="button" class="btn btn-outline btn-default">
                        <i class="glyphicon glyphicon-share" aria-hidden="true">批量共享</i>
                    </button>
                    <button id="multiDelBtn" type="button" class="btn btn-outline btn-default">
                        <i class="glyphicon glyphicon-remove" aria-hidden="true"> 批量删除</i>
                    </button>
                </div>
                <table id="recycleQesPaperTable"></table>
            </div>
        </div>
    </div>
</div>
<!--<script src="/WEB-INF/js/jquery.min.js"-->
<!--th:src="@{/js/jquery.min.js}"></script>-->
<!--<script src="/WEB-INF/js/bootstrap.min.js"-->
<!--th:src="@{/js/bootstrap.min.js}"></script>-->
<!--<script src="/WEB-INF/js/plugins/bootstrap-table/bootstrap-table.min.js"-->
<!--th:src="@{/js/plugins/bootstrap-table/bootstrap-table.min.js}"></script>-->
<!--<script src="/WEB-INF/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"-->
<!--th:src="@{/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js}"></script>-->
<!--<script src="../../js/plugins/layer/layer.min.js"-->
<!--th:src="@{/js/plugins/layer/layer.min.js}"></script>-->
<!--<script src="../../js/myJs/responseAnalyze.js"-->
<!--th:src="@{/js/myJs/responseAnalyze.js}"></script>-->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/bootstrap-table/dist/bootstrap-table.js"></script>
<script src="bower_components/bootstrap-table/src/locale/bootstrap-table-zh-CN.js"></script>
<script src="bower_components/layui-master/src/lay/modules/laydate.js"></script>

<script>
    var $table = $('#recycleQesPaperTable');
    //批量永久删除按钮
    var $multiDelBtn = $('#multiDelBtn');
    //批量还原
    var $multiRestoreBtn = $('#multiRestoreBtn');
    $(function () {
        $table.bootstrapTable({
            url: 'testJsonData/data_demo_1.json',
            method: 'post',
            dataType: 'json',
            cache: false,

            striped: true,
//            clickToSelect: true,
            undefinedText: '--',
            sortName: ['questionnaireTitle', 'questionnaireSubtitle'],
            sortOrder: 'desc',
            height: getHeight(),

            pagination: true,
            paginationLoop: true,
            pageList: [10, 20, 30],
            paginationPreText: '上一页',
            paginationNextText: '下一页',
            sidePagination: 'client',

            search: true,
            searchAlign: 'right',
            searchOnEnterKey: true,

            toolbar: '#tableToolbar',

            showColumns: true,
            showRefresh: true,
            showToggle: true,
            showPaginationSwitch: true,

            minimumCountColumns: 3,
            detailView: true,
            detailFormatter: detailFormatter,
            columns: [{
                checkbox: true,
                clickToSelect: true
            }, {
                field: 'questionnaireId',
                title: '问卷ID',
                sortable: true
            }, {
                field: 'questionnaireTitle',
                title: '问卷标题',
                sortable: true
            }, {
                field: 'questionnaireSubtitle',
                title: '问卷副标题',
                sortable: true
            }, {
                title: '操作',
                align: 'center',
                events: operateEvents,
                formatter: operateFormatter
            }]
        });
    });

    var restoreUrl = '/questionnaireManage/restoreMultiQuestionnaire';
    var deleteForeverUrl = '/questionnaireManage/delForeverMultiQuestionnaire';
    //单份处理
    window.operateEvents = {
        //永久删除
        'click .remove': function (e, value, row, index) {
            layerConfirm('确认永久删除问卷吗?', row, deleteForeverUrl);
        },
        //恢复问卷
        'click .restore': function (e, value, row, index) {
            layerConfirm("确认恢复到个人问卷库中吗?", row, restoreUrl);
        }
    };

    //批量永久删除处理
    $multiDelBtn.on('click', function () {
        var ids = getIdSelections();
        if (!checkIsSelectedOne(ids)) {
            return;
        }
        layerMsg("确认永久删除问卷吗?", ids, deleteForeverUrl);
    });

    //批量恢复处理
    $multiRestoreBtn.on('click', function () {
        var ids = getIdSelections();
        if (!checkIsSelectedOne(ids)) {
            return;
        }
        layerMsg("确认恢复到个人问卷库中吗?", ids, restoreUrl);
    });

    /*检查是否选中一种问卷*/
    function checkIsSelectedOne(ids) {
        if (0 === ids.length) {
            layer.msg('还未选择操作的问卷', {icon: 5});
            return false;
        }
        return true;
    }

    /*弹窗层*/
    function layerMsg(confirmText, ids, url) {
        layer.confirm(confirmText, {
                icon: 3,
                btn: ['确定', '取消']
            },
            function (index) {
                accessServer(ids, url);
                layer.close(index);
            },
            function () {
                layer.msg('取消成功！');
            }
        )
    }

    function layerConfirm(confirmText, row, url) {
        layer.confirm(confirmText, {
                icon: 3,
                btn: ['确定', '取消']
            },
            function (index) {
                var ids = [];
                ids.push(row.questionnaireId);
                accessServer(ids, url);
                layer.close(index);
            },
            function () {
                layer.msg('取消成功！');
            }
        )
    }

    /**
     * 异步加载服务器
     * @param questionnaireIds
     * @param url
     */
    function accessServer(questionnaireIds, url) {
        $.ajax({
            url: url,
            type: 'post',
            data: {questionnaireIds: questionnaireIds},
            dataType: 'text',
            traditional: true,
            success: function (data) {
                analyzeResponse(data, url, questionnaireIds);
            },
            error: function () {
                layer.msg('操作失败，出现点问题，刷新看看？', {icon: 2});
            }
        });
        return true;
    }

    /**
     * 解析回复数据包
     * @param data
     * @param url
     * @param questionnaireIds
     */
    function analyzeResponse(data, url, questionnaireIds) {
        var responsePkt = JSON.parse(data);
        if (responsePkt.code === 200) {
            switch (url) {
                case restoreUrl: //恢复回收站问卷
                    if (responsePkt.code === 200) {
                        $table.bootstrapTable('remove', {
                            field: 'questionnaireId',
                            values: questionnaireIds
                        });
                        layer.msg('问卷已经恢复到问卷库中！', {icon: 1});
                    }
                    dealGlobalError(responsePkt);
                    break;
                case deleteForeverUrl://永久删除问卷
                    if (responsePkt.code === 200) {
                        $table.bootstrapTable('remove', {
                            field: 'questionnaireId',
                            values: questionnaireIds
                        });
                        layer.msg('问卷已经永久删除！', {icon: 1});
                    }
                    dealGlobalError(responsePkt);
                    break;
                default:
                    return;
            }
        }
    }

    //获取批量选中的id
    function getIdSelections() {
        return $.map($table.bootstrapTable('getSelections'), function (row) {
            return row.questionnaireId;
        });
    }

    //操作按钮格式设置
    function operateFormatter(value, row, index) {
        return [
            '<a class="scanPaper btn btn-sm btn-link" href="javascript:void(0)" data-toggle="tooltip" title="查看问卷">',
            '<i class="glyphicon glyphicon-eye-open"></i> 查看',
            '<a class="remove btn btn-sm btn-link" href="javascript:void(0)" data-toggle="tooltip" title="删除问卷">',
            '<i class="glyphicon glyphicon-remove"></i> 删除',
            '</a>',
            '<a class="continueEdit btn btn-sm btn-link" href="javascript:void(0)" data-toggle="tooltip" title="继续编辑">',
            '<i class="glyphicon glyphicon-edit"></i> 继续',
            '</a>',
            '<a class="templatePaper btn btn-sm btn-link" href="javascript:void(0)" data-toggle="tooltip" title="模板化问卷">',
            '<i class="glyphicon glyphicon-briefcase"></i> 模板化',
            '</a>',
            '<a class="sharePaper btn btn-sm btn-link" href="javascript:void(0)" data-toggle="tooltip" title="分享问卷">',
            '<i class="glyphicon glyphicon-share"></i> 分享',
            '</a>'
        ].join('');
    }

    //详细信息格式
    function detailFormatter(index, row) {
        var html = [];
        html.push('<p><i>问卷描述:</i> ' + row.questionnaireDescription + '</p>');
        return html.join('');
    }

    //获取屏幕高度
    function getHeight() {
        return $(window).height() - $('.panel-body').outerHeight(true);
    }
</script>
</body>
</html>